body{
    background-color: rgb(126, 223, 215);
}

h1 {
    background-color: rgb(138, 36, 36);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

img {
    height: auto;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 5px;
    border-color: black;
}

li {
    color: rgb(97, 157, 206);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}